@use 'sass:string';
@use 'sass:map';
@use 'icons';

$chevron-right: map.get(icons.$icon_content, 'chevron-right');

// Style "Icon Settings" panel.
.button-icon-picker {
  .components-button.button-icon-picker__button svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .components-panel__row {
    &:not(:nth-child(2)) {
      margin-top: 16px;
    }
  }
  .components-search-control {
    width: calc(100% - 4px);
  }
  .components-scrollable {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    width: 100%;
    display: flex;
  }
  .button-icon-picker__grid {
    padding: 2px;
    width: 100%;
    &.no-results {
      text-align: center;
      padding: 1rem;
      background: linear-gradient(180deg, #e0e0e0, transparent);
    }
  }
  .button-icon-options__row {
    align-items: flex-start;
    .components-toggle-control__label {
      font-size: .75rem;
    }
  }
}

.wp-block-button[class*=has-icon__] {
  .wp-block-button__link {
    &:after {
      content: '';
      margin-inline-start: 0.5rem;
    }
    // Styles the icon.
    &:after, &:before {
      display: inline-block;
      background-color: currentColor;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      height: 1em;
      width: 1em;
      mask-image: url( $chevron-right );
      -webkit-mask-image: url( $chevron-right );
    }
  }
  &.is-icon-only {
    .wp-block-button__link {
      gap: 0;
      padding: calc(0.667em + 3px) calc(1.333em + 2px);
      letter-spacing: -10px;
      user-select: none;
      &:after, &:before {
        margin-inline: 0;
      }
    }
  }

  &.has-icon-position__left {
    .wp-block-button__link {
      &::after {
        content: none;
      }

      &::before {
        content: '';
        margin-inline-end: 0.5rem;
      }
    }
  }
}
.wp-block-button {
  @each $name, $content in icons.$icon_content {
    &.has-icon__#{$name} {
      .wp-block-button__link {
        &:after, &:before {
          mask-image: url( $content );
          -webkit-mask-image: url( $content );
        }
      }
    }
  }
}